In [1]:
import pandas as pd
import numpy as np

In [2]:
ss1 = "/Users/samrioboli/Documents/ds320crime/data/crime.csv"
crime = pd.read_csv(ss1)

In [3]:
ss2 = '/Users/samrioboli/Documents/ds320crime/data/Universities_Colleges.csv'
colleges = pd.read_csv(ss2)

In [4]:
crime.head()

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Police_Districts,Month,Lon,Lat
0,18,3,2009-10-02 14:24:00,2009-10-02,14:24:00,14,200918067518,S 38TH ST / MARKETUT ST,800.0,Other Assaults,NaN,2009-10,NaN,NaN
1,14,1,2009-05-10 00:55:00,2009-05-10,00:55:00,0,200914033994,8500 BLOCK MITCH,2600.0,All Other Offenses,NaN,2009-05,NaN,NaN
2,25,J,2009-08-07 15:40:00,2009-08-07,15:40:00,15,200925083199,6TH CAMBRIA,800.0,Other Assaults,NaN,2009-08,NaN,NaN
3,35,D,2009-07-19 01:09:00,2009-07-19,01:09:00,1,200935061008,5500 BLOCK N 5TH ST,1500.0,Weapon Violations,20.0,2009-07,-75.130477,40.036389
4,9,R,2009-06-25 00:14:00,2009-06-25,00:14:00,0,200909030511,1800 BLOCK WYLIE ST,2600.0,All Other Offenses,8.0,2009-06,-75.166350,39.969532

In [5]:
colleges.head()

,OBJECTID,NAME,ADDRESS,BUILDING_DESCRIPTION,PARCEL_ID,BRT_ID,TENCODE_ID,GROSS_AREA,Shape__Area,Shape__Length
0,1,Temple University,2450 W HUNTING PARK AVE,OFF/BLD N/COMM W-PKG MASO,155059,883380850,4404002450,231347,231347.864563,2519.967862
1,2,Temple University,1501-39 MARKET ST,OFF/BLDG COMM NO GAR MASO,392760,883337500,5356001501,47425,47426.015198,1281.725069
2,3,Temple University Medical,801 CHERRY ST,APTS 51-100UNTS MASONRY,13161,771524500,2274000801,29301,29348.386963,707.277624
3,4,Temple University Medical,800-20 RACE ST,SCHOOL 7STY MASONRY,324604,771524000,6712000800,34030,33840.214539,746.550259
4,5,Temple University Medical,191-99 E HUNTINGDON ST,HSE WORSHIP ALL3STY MASON,18474,777204000,4406000191,22500,22697.678589,602.634106

In [7]:
import difflib

# standardize the Address and Location_Block features
scrimes['Location_Block_std'] = scrimes['Location_Block'].str.lower().str.replace(",", "").str.replace(".", "").str.replace(" ", "")
colleges['Address_std'] = colleges['ADDRESS'].str.lower().str.replace(",", "").str.replace(".", "").str.replace(" ", "")

# use difflib to get a ratio of similarity between the standardized features
colleges['Address_match'] = colleges['Address_std'].apply(lambda x: scrimes['Location_Block_std'].apply(lambda y: difflib.SequenceMatcher(None, x, y).ratio()).max())

# merge the data frames based on matching addresses
merged = pd.merge(scrimes, colleges, how='left', left_on='Location_Block_std', right_on='Address_std')

# display the result
#print(merged[['Address', 'Crime_Type', 'College_Name']])

/var/folders/1v/4jjjwf412c72096krz_f0hv00000gn/T/ipykernel_9944/3428085901.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  scrimes['Location_Block_std'] = scrimes['Location_Block'].str.lower().str.replace(",", "").str.replace(".", "").str.replace(" ", "")
/var/folders/1v/4jjjwf412c72096krz_f0hv00000gn/T/ipykernel_9944/3428085901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scrimes['Location_Block_std'] = scrimes['Location_Block'].str.lower().str.replace(",", "").str.replace(".", "").str.replace(" ", "")
/var/folders/1v/4jjjwf412c72096krz_f0hv00000gn/T/ipykernel_9944/3428085901.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  colleges['Address_std'] = colleges['ADDRESS'].str.lower().str.replace(",", "").str.replace(".", "").str.replace(" ", "")

In [12]:
merged.head()

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Police_Districts,Month,Lon,Lat,Location_Block_std,OBJECTID,NAME,ADDRESS,BUILDING_DESCRIPTION,PARCEL_ID,BRT_ID,TENCODE_ID,GROSS_AREA,Shape__Area,Shape__Length,Address_std,Address_match
0,18,G,2009-06-18 21:18:00,2009-06-18,21:18:00,21,200918040467,1200 BLOCK S 46TH ST,1800.0,Narcotic / Drug Law Violations,14.0,2009-06,-75.210013,39.944582,1200blocks46thst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18,M,2009-06-20 19:33:00,2009-06-20,19:33:00,19,200918041008,5600 BLOCK SPRUCE ST,300.0,Robbery Firearm,14.0,2009-06,-75.234091,39.955644,5600blocksprucest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,S,2009-06-22 13:33:00,2009-06-22,13:33:00,13,200918041389,6200 BLOCK CHESTNUT ST (OUTSIDE),1800.0,Narcotic / Drug Law Violations,14.0,2009-06,-75.245101,39.960901,6200blockchestnutst(outside),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18,P,2009-07-09 19:23:00,2009-07-09,19:23:00,19,200918046129,5900 BLOCK IRVING ST,1800.0,Narcotic / Drug Law Violations,14.0,2009-07,-75.241557,39.957405,5900blockirvingst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26,3,2015-10-05 17:33:00,2015-10-05,17:33:00,17,201526052172,400 BLOCK MOYER ST,600.0,Theft from Vehicle,19.0,2015-10,-75.130688,39.971108,400blockmoyerst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pd.set_option('display.max_columns', None)

In [1]:
df_notnull = merged[merged['ADDRESS'].notnull()]
df_notnull.show()